.root {
  background-color: var(--color-bg);
  color: var(--color-primary);
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin-top: 40px;
  flex: 0 0 100%;
  max-width: 890px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.loaderRoot {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.loaderMsg {
  margin-left: 20px;
}
